<!-- ============================================================== -->
<!-- Basic Card -->
<!-- ============================================================== -->
<mat-card>
  <mat-card-content>
    <mat-card-title class="text-center">GEER Exámenes</mat-card-title>
    <mat-card-subtitle class="text-center">Exámenes de tu materia</mat-card-subtitle>

    
    <p class="text-center">Selecciona un examen, se recomienda NO cancelar el examen una vez iniciado, exito!!</p>
   
  </mat-card-content>
</mat-card>
<!-- ============================================================== -->
<!-- Image Card row-->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap" *ngIf="mostrarCatalogo">
  <!-- Card column -->
  <div fxFlex.gt-sm="33.33%" fxFlex="100"  *ngFor="let exa of examenes; let i=index">
      <mat-card>
          <mat-card-header>
            <div mat-card-avatar><img src="assets/images/users/1.jpg" class="img-fluid img-circle"/></div>
            <mat-card-title>{{exa.nombre}}</mat-card-title>
          <!--  <mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
          </mat-card-header>
          <img mat-card-image src="assets/images/examenes.jpg" alt="Imagenes">
          <mat-card-content>
             <p>
               Oprime el botón para iniciar tu examen
             </p>
             <p></p>
             <mat-card-actions>
                <button mat-raised-button color="accent" (click)="empezarExamen(exa.id)">REALIZAR</button>

              </mat-card-actions>
            </mat-card-content>      
        </mat-card>
  </div>
</div>
<!------------------------------------------------------------------------------------------------
TERMINA LOS CARDS DE LOS EXAMENES
-------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------
  INICIA CARD DEL EXAMEN SELECCIONADO
--------------------------------------------------------------------------------------------------->


<div class="card-body" *ngIf="puedeHacerExamen">

  <h3>¡Bienvenido!</h3>
 <p>Lee y contesta cada pregunta seleccionado la opción que consideres correcta</p>
  <div>
    <textarea id="aForm_4" rows="10" *ngIf="hayIntroduccion">
          {{introduccion}}
       </textarea>
    <br>
    <p>Pregunta {{contadorPregunta}} de {{numeroPreguntas}} </p>
    <p style="white-space: pre-line">{{preguntaActual.titulo}}</p>

 
    <mat-radio-group class="example-radio-group"  [(ngModel)]="selectedValue">
        <div *ngFor="let opcion of preguntaActual.opciones; let i=index">
          <mat-radio-button class="example-radio-button" value={{i}}  [checked]="sinChecar">
            <span class="letrita">
              {{opcion.titulo}}
            </span>
          </mat-radio-button>
        </div>
      </mat-radio-group>



    <button mat-raised-button color="warn" (click)="siguiente()">Siguiente pregunta</button>

    <div [hidden]="ocultarResultado">
      <h3>Tu calificacion es: {{calificacion | number:'1.1-2'}}</h3>

    </div>

  </div>


</div>

